# IDE
.idea/
*.iml

# Build
build/
.gradle/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Log
*.log

# YML
application.yml
application-*.yml

# Docker
docker-compose.override.yml
**/Dockerfile.*
**/*-db-data/
